<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Card component</title>
  <link rel="stylesheet" href="../../../styles/style.min.css">
  <link rel="stylesheet" href="../01-css-task/style.css">
  <link rel="stylesheet" href="../01-css-task/pagination.css">
  <style>
    .wrapper {
      width: 400px;
      margin: 100px auto;
    }
  </style>
</head>

<body>
  <div id="root" class="wrapper"></div>

  <!-- <script type="module" src="./index.js"></script> -->

  <script type="module" >
    import {products} from './products.js';
    import OnlineStorePage from './index.js';

    const page =new OnlineStorePage(products);
    const someElement = document.querySelector('#root');

    someElement.append(page.element);

  </script>

</body>
</html>
