<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Card component</title>
  <link rel="stylesheet" href="../../../styles/style.min.css">
  <link rel="stylesheet" href="../01-css-task/style.css">
  <link rel="stylesheet" href="../01-css-task/pagination.css">
  <style>
    .wrapper {
      width: 400px;
      margin: 100px auto;
    }
  </style>
</head>

<body>
  <div id="root" class="wrapper"></div>

  <script type="module" src="./index.js"></script>

  <script type="module" >
    import Pagination from './pagination.js';

    const monitor = {
        id: 'w73oaydowenkr9kjkav',
        images: [
          'https://content1.rozetka.com.ua/goods/images/big_tile/178050370.jpg',
        ],
        title: 'Монитор 23.8 BenQ GW2475H (9H.LFELA.TBE)',
        rating: 5,
        price: 3800,
        category: 'monitors',
        brand: 'benq',
};

    const pagination = new Pagination({actinePageIndex:3});
    const someElement= document.querySelector('#root');
    someElement.append(pagination.element);
    pagination.setPage(6) //7
    pagination.nextPage() //8
    pagination.nextPage() //9
    pagination.setPage(1) //7


    // pagination.prevPage() //7
  </script>

</body>
</html>
